{{> header}}
<main>
    <div class="page__title page__title-mybooks">
        <h1>MY BOOKS</h1>
    </div>

    <div class="container">
        <div class="page-navigation mt-4">
            <a class="page-navigation__item active" id="bookslist">
                <i class="fa fa-list" aria-hidden="true"></i> BOOKS LIST</a>
            <a class="page-navigation__item" id="booksearch">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> ADD BOOK</a>
        </div>
        <div class="row mybooks active">
            {{#if messages}}
            <div class="col-md-12 text-center mt-2" id="empty">
                <p class="lead">{{messages.info}}</p>
            </div>
            {{/if}}
            <div class="col-md-12">
                <div class="alertsDelete col-md-12 text-center">
                </div>
            </div>
            {{#if books}} {{#each books}}
            <div class="col-lg-3 col-md-4 col-sm-6" data-book-id="{{id}}">
                <div class="book-card">
                    <div class="book-card__top">
                        <img class="book-card__top__img" src="{{image}}" alt="Book Image">
                        <span class="book-card__top__date">{{date}}</span>
                        <a class="book-card__top__info" href="{{url}}"> More Info</a>
                    </div>
                    <div class="book-card__bottom">
                        <h2 class="book-card__bottom__title">{{title}}</h2>
                        <p class="book-card__bottom__author">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{authors}}</p>
                        <div class="text-center">
                            <a href="#" class="btn btn-default btn-default-green remove" id="{{id}}">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}} {{/if}}
        </div>
        <div class="row addbook">
            <div class="col-md-12 text-center mt-2 mb-4">
                <div class="search">
                    <input type="text" class="search__input" id="booksAddSearch" placeholder="search by book name">
                </div>
            </div>
            <div class="col-md-12">
                <div class="alerts col-md-12 mb-5 text-center">
                </div>
                <div class="spinner">
                    <div class="sk-circle">
                        <div class="sk-circle1 sk-child"></div>
                        <div class="sk-circle2 sk-child"></div>
                        <div class="sk-circle3 sk-child"></div>
                        <div class="sk-circle4 sk-child"></div>
                        <div class="sk-circle5 sk-child"></div>
                        <div class="sk-circle6 sk-child"></div>
                        <div class="sk-circle7 sk-child"></div>
                        <div class="sk-circle8 sk-child"></div>
                        <div class="sk-circle9 sk-child"></div>
                        <div class="sk-circle10 sk-child"></div>
                        <div class="sk-circle11 sk-child"></div>
                        <div class="sk-circle12 sk-child"></div>
                    </div>
                </div>
                <div class="row" id="addbook">
                </div>
            </div>
        </div>

    </div>
</main>
{{> footer}}