{{> header}}
<main>
    <div class="page__title page__title-request">
        <h1>MY REQUESTS</h1>
    </div>
    <div class="container">
        <div class="page-navigation mt-4">
            <a class="page-navigation__item active" id="nav-user-requests">
                <i class="fa fa-handshake-o" aria-hidden="true"></i> USERS REQUESTS</a>
            <a class="page-navigation__item" id="nav-my-requests">
                <i class="fa fa-hourglass-end" aria-hidden="true"></i> MY REQUESTS</a>
        </div>

        <div class="row" id="userRequests">
            {{#if messages.info}}
            <div class="col-md-12 text-center mt-2">
                <p class="lead">{{messages.info}}</p>
            </div>
            {{/if}}
            <div class="col-md-12 mt-3 mb-4 text-center">
                <div class="alerts-user-requests">
                </div>
            </div>
            {{#if userRequests}} {{#each userRequests}}
            <div class="col-lg-3 col-md-4 col-sm-6" data-book="{{_id}}">
                <div class="book-card">
                    <div class="book-card__top">
                        <a class="book-card__top__item" href="{{book_url_requested}}">
                            <img class="book-card__top__item__img" src="{{book_img_requested}}" alt="Book Image">
                        </a>
                        <a class="book-card__top__item" href="{{book_url_selected}}">
                            <img class="book-card__top__item__img" src="{{book_img_selected}}" alt="Book Image 2">
                        </a>
                        <span class="book-card__top__circle">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="book-card__bottom">
                        <p class="book-card__bottom__author margin-none">
                            <i class="fa fa-user" aria-hidden="true"></i> {{from.user_username}}</p>
                        <h2 class="book-card__bottom__title-2 ">{{book_title_requested}}</h2>
                        <h2 class="book-card__bottom__title-3">For</h2>
                        <h2 class="book-card__bottom__title-2">{{book_title_selected}}</h2>
                        <div class="book-card__bottom__buttons text-center" data-id="{{_id}}">
                            <a href="#" class="btn btn-default btn-default-double btn-default-green accept">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </a>
                            <a href="#" class="btn btn-default btn-default-double btn-default-red decline">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}{{/if}}
        </div>
        <div class="row" id="myrequests">
            {{#if messages.info-2}}
            <div class="col-md-12 text-center mt-2">
                <p class="lead">{{messages.info-2}}</p>
            </div>
            {{/if}}
            <div class="col-md-12 mt-3 mb-4 text-center">
                <div class="alerts-user-requests">
                </div>
            </div>
            {{#if myRequests}} {{#each myRequests}}
            <div class="col-lg-3 col-md-4 col-sm-6" data-book="{{_id}}">
                <div class="book-card">
                    <div class="book-card__top">
                        {{#if book_id_selected}}
                        <a class="book-card__top__item" href="{{book_url_selected}}">
                            <img class="book-card__top__item__img" src="{{book_img_selected}}" alt="Book Image">
                        </a>
                        {{else}}
                        <a data-toggle="modal" data-target="modalid" class="book-card__top__item">
                                <span>Choose</span>
                            </a>
                        {{/if}}
                        <a class="book-card__top__item" href="{{book_url_requested}}">
                            <img class="book-card__top__item__img" src="{{book_img_requested}}" alt="Book Image 2">
                        </a>
                        <span class="book-card__top__circle">
                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="book-card__bottom">
                        {{#if book_id_selected}}
                        <h2 class="book-card__bottom__title-2">{{book_title_selected}}</h2>
                        {{else}}
                        <em><h2 class="book-card__bottom__title-2">Select a book first</h2></em>
                        {{/if}}
                        <h2 class="book-card__bottom__title-3">For</h2>
                        <h2 class="book-card__bottom__title-2 ">{{book_title_requested}}</h2>
                        <div class="book-card__bottom__buttons text-center" data-id="{{_id}}">
                            <a href="#" class="btn btn-default btn-default-double btn-default-green update">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </a>
                            <a href="#" class="btn btn-default btn-default-double btn-default-red remove">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}{{/if}}
            <p>{{myBooks}}</p> {{!-- create modal with books name --}}
        </div>
    </div>
    </div>
</main>
{{> footer}}